body {
  background: #1f273f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
}

.container {
  display: grid;
  gap: 2rem;
  padding: 0rem 2rem 2rem 2rem;
  margin: 0rem 2rem 2rem 2rem;
}

.header {
  grid-column: 1 / -1;
}

h1 {
  color: cornflowerblue;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.2rem;
  color: #ccc;
}

.content {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
}

.column {
  padding: 1rem;
  background-color: #2c324a;
  border-radius: 8px;
}

.column-left h3 {
  padding-left: 5%;
  max-width: 240px;
}

.column-right h3 {
  margin-left: 0;
  padding-left: 0;
}

ul.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list li {
  margin: 1rem 0;
}

.button {
  background-color: #242031;
  border: none;
  color: white;
  padding: 12px 20px;
  width: 80%;
  max-width: 240px;
  /* box-sizing: border-box; */
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  margin: 0.5rem auto;
}

.button:hover {
  background-color: orangered;
}

.button:focus {
  outline: 2px dashed orange;
}

code {
  background-color: #333;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
  color: #ffc;
}

/* Responsives Layout für Mobilgeräte */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .button {
    width: 100%;
  }
}

footer {
  grid-column: 1 / -1;
  /* über beide Spalten */
  border-top: 1px solid #444;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
  background-color: #1a1f33;
}

footer a {
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}