body {
  background-color: #1a1f33;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: larger;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  height: 100vh;
  /* Optional: volle Bildschirmhöhe */
  gap: 1rem;
  margin-left: 8px;
  margin-right: 8px;
  justify-content: center;
}


header {
  grid-area: header;
  text-align: center;
}

header h1 {
  color: dodgerblue;
}

header h2 {
  color: dodgerblue;
  font-size: large;
}

nav {
  grid-area: menu;
}

nav h3 {
  text-align: center;
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.button {
  background-color: #242031;
  border: none;
  color: white;
  padding: 10px;
  width: 80%;
  min-width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
  justify-self: center;
}

.button:hover {
  background-color: #3a3450;
}

main {
  grid-area: content;
  padding: 1.5rem;
}

nav,
main {
  background-color: #2a2f45;
  border-radius: 8px;
}

nav,
main {
  padding: 1rem;
}

footer {
  grid-area: footer;
  border-top: 1px solid #444;
  text-align: center;
  font-size: 0.9rem;
  color: #cccccc;
}

footer a {
  color: #cccccc;
  text-decoration: underline;
}

footer a:hover {
  color: dodgerblue;
}

code {
  background-color: #333;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
  color: #ffc;
  font-size: large;
}

/* Responsive */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .button {
    width: 100%;
  }
}